include ../tabs-content-data-1/tabs-content-data-1
mixin tabs-content()
	.tabs-content
		.tabs-content-inner
			.tabs-content-element.tabs-content-element--active.tabs-content-element--1
				.tabs-content-data
					+tabs-content-data-1()
			.tabs-content-element.tabs-content-element--2
				.tabs-content-data Content 2
			.tabs-content-element.tabs-content-element--3
				.tabs-content-data Content 3
			.tabs-content-element.tabs-content-element--4
				.tabs-content-data Content 4
			.tabs-content-element.tabs-content-element--5
				.tabs-content-data Content 5
			.tabs-content-element.tabs-content-element--6
				.tabs-content-data Content 6
