.tabs-content-element
	position absolute
	top 0
	left 0
	padding 20px
	width calc(100% - 40px)
	opacity 0
	pointer-events none
	transition linear .2s
	transform translateX(-20px)
	transition-property transform, opacity
	color $mainDarkColor
	padding-bottom 20px

	@media screen and (max-width: 480px)
		padding 20px 14px
		width calc(100% - 28px)

	&--active
		opacity 1
		pointer-events auto
		transform translateX(0px)

.tabs-content-inner
	position relative
	padding 20px

.tabs-content
	position relative
	max-width 1200px
	margin 0 auto
	padding-bottom 200px
