.tabs-content-element
	padding 20px
	width calc(100% - 40px)
	opacity 0
	pointer-events none
	transition linear .2s
	transition-property transform, opacity
	color $mainDarkColor
	padding-bottom 20px
	display none

	@media screen and (max-width: 480px)
		padding 20px 14px
		width calc(100% - 28px)

	&--active
		display block
		pointer-events auto
		animation slidein .3s ease .1s
		animation-fill-mode forwards

.tabs-content
	position relative
	max-width 1200px
	margin 0 auto

.tabs-content-data
	padding-bottom 200px


@keyframes slidein
	from
		opacity 0
		transform translateX(-50px)
	to
		opacity 1
		transform translateX(0px)
