mixin tabs-content-data-mto()
	.tabs-content-data-mto
		table.table-mto
			tr
				td №
				td Наименование лаборотории
				td Учебные дисциплины, по которым проводятся лабораторные работы
				td Оборудование для проведения лабораторных работ
			tr
				td 1
				td Компьютерный класс №1
				td
					| Технологии программирования
					br
					| Проектирование корпоративных информационных систем
					br
					| Основы управления ИТ проектами
				td
					| Персональный компьютер (15 шт.)
					br
					| Сетевой коммутатор (1 шт.)
			tr
				td 2
				td Компьютерный класс №2
				td
					| Управление данными
					br
					| Безопасность функционирования ИС
				td
					| Персональный компьютер (15 шт.)
					br
					| Сетевой коммутатор (1 шт.)
			tr
				td 3
				td Учебная лаборатория
				td
					| Информационные сети
					br
					| Операционные системы
					br
					| Открытые ИС
				td
					| Персональный компьютер (15 шт.)
					br
					| Сетевой коммутатор (1 шт.)
