.tabs-content-data-mto
	overflow-y scroll

table
	&.table-mto
		width 100%
		min-width 600px
		text-align center
		border-collapse collapse
		tbody
			td
				font-size 13px
		tr
			transition all ease .1s
			&:nth-child(even)
				background #efefee
			&:hover
				background-color #ddd
			th
				font-weight bold
				color #FFFFFF
			td
				font-size 14px
				vertical-align middle
				padding 14px 10px
			.links
				text-align right
				a
					display inline-block
					background #1C6EA4
					color #FFFFFF
					padding 2px 8px
					border-radius 5px

table.table-mto td, table.table-mto th
	border 1px solid #AEABB3
	padding 3px 2px
