include ../stuff-person/stuff-person
mixin tabs-content-data-stuff()
	.tabs-content-data-stuff
		.stuff-persons
			+stuff-person("Петров Андрей Борисович", "зав. кафедрой", "д.т.н., профессор", "petrov")
			+stuff-person("Андрианова Елена Гельевна", "доцент", "к.т.н., доцент", "andrianova")
			+stuff-person("Стариковская Надежда Анатольевна", "доцент", "к.т.н., доцент")
			+stuff-person("Шемончук Дмитрий Сергеевич", "доцент", "к.т.н., доцент", "shemonchuk")
			+stuff-person("Крюков Дмитрий Алексеевич", null, "к.т.н., доцент")
			+stuff-person("Стотланд Ирина Аркадьевна", null, "к.т.н., доцент")
			+stuff-person("Томашевская Валерия Сергеевна", null, "к.т.н., доцент", "tomashevskaya")
			+stuff-person("Трохаченкова Надежда Николаевна", null, "Старший преподаватель", "trokhachenkova")
			+stuff-person("Мирзоян Дмитрий Ильич", null, "Старший преподаватель")
			+stuff-person("Муратова Елена Владимировна", null, "Старший преподаватель")
			+stuff-person("Башлыкова Анна Александровна", null, "Старший преподаватель")
			+stuff-person("Давыдов Денис Павлович", null, "ассистент")
			+stuff-person("Томашевский Игорь Владимирович", null, "ассистент")
			+stuff-person("Хлян Анна Евгеньевна", null, "ассистент")
			+stuff-person("Багров Сергей Валерьевич", null, "лаборант", "bagrov")
