@import '_variables'
@import '_mixins'

@import 'base/reset'
@import 'base/core'
@import 'base/fonts'
@import 'base/utilities'

@import '../blocks/**/**'

body
	font-size 20px

a, a:hover, a:active
	color $linkColor
	text-decoration underline

.content-wrapper
	position relative
	min-height 100%
