@import '_variables'
@import '_mixins'

@import 'base/reset'
@import 'base/core'
@import 'base/fonts'
@import 'base/utilities'


body
	font-family RobotoCondensedRegular
	background-color alpha(green, .8)
	font-size 20px
	color alpha(yellow, .8)
	image-bg('image2.jpg')
  background-size cover
	background-repeat no-repeat
