include ../blocks/header/header
include ../blocks/tabs-content/tabs-content
doctype html
html(lang='ru')
	include ./_head
	body
		- const documentsData = htmlWebpackPlugin.options
		+header()
		+tabs-content(documentsData)
		div footer
