include ../main-text/main-text
include ../text-header/text-header
include ../text-list/text-list
mixin tabs-content-data-history()
	.tabs-content-data-history
		+text-header("Расписание зачетной сессии 2017-2018:", true)
		iframe(src='https://docs.google.com/spreadsheets/d/e/2PACX-1vSQiJAxxttfihIID39o34NLeg1ZUhxvph5sKFXbZe8E6P49OHdKAsEi3OVo2QgEBWOiCpA0IRni0FDT/pubhtml?&headers=false' width="100%" height="700")
		br
		br
		+text-header("Расписание экзаменационной сессии 2017-2018:", true)
		iframe(src='https://docs.google.com/spreadsheets/d/e/2PACX-1vSQS5fXAEIfdqNLBkSXGWLJI-0qZYHMnLp3k8Ob8eIHhHkVNCJ5Lt2VIaUPQHN_gsAicqrEDnHmbm9E/pubhtml?gid=182901628&single=true&&headers=false' width="100%" height="700")
