.stuff-persons
	display -webkit-flex
	display -ms-flex
	display flex
	justify-content space-between
	flex-wrap wrap

.stuff-person
	flex-basis 33.33333%
	display -webkit-flex
	display -ms-flex
	display flex
	flex-direction column
	align-items center
	margin-bottom 20px
	transition all linear .2s

	@media screen and (max-width: 870px)
		flex-basis 50%

	@media screen and (max-width: 480px)
		flex-basis 100%
		margin-bottom 20px

	&__photo
		width 80%
		height 300px
		margin-bottom 10px
		transition filter ease .3s
		filter saturate(60%)

		@media screen and (max-width: 560px)
			height 260px

		@media screen and (max-width: 480px)
			height 320px


		&:hover
			cursor pointer
			filter saturate(100%)

		&--andrianova
			image-bg("professors/andrianova.jpg")

		&--petrov
			image-bg("professors/petrov.png")

		&--panov
			image-bg("professors/panov.jpg")

		&--nemenko
			image-bg("professors/nemenko.jpg")

		&--aldobaeva
			image-bg("professors/aldobaeva.jpg")

		&--bashlykova
			image-bg("professors/bashlykova.jpg")

		&--tomashevskaya
			image-bg("professors/tomashevskaya.jpg")

		&--trokhachenkova
			image-bg("professors/trokhachenkova.jpg")

		&--bagrov
			image-bg("professors/bagrov.jpg")

		&--proshaeva
			image-bg("professors/proshaeva.jpg")
			background-position -35px 0

		&--mirzoyan
			image-bg("professors/mirzoyan.jpg")
			background-position -35px 0

		&--davydov
			image-bg("professors/davydov.jpg")

		&--nophoto
			image-bg("professors/noavatar.png")

			background-size 70% auto
			background-repeat no-repeat
			background-position 50% 50%
			background-color #efefef

	&__name
		font-family PTSans-Bold
		font-size 16px
		text-align center

	&__position-1
		font-family PTSans-Italic
		font-size 16px
		text-align center

	&__position-2
		font-size 16px
		text-align center
