include ../main-text/main-text
include ../text-header/text-header
include ../text-list/text-list
mixin tabs-content-data-teach-work()
	+main-text(
		[
			"Кафедра корпоративных информационных систем была создана в 2011 году. Кафедру возглавляет д.т.н. профессор Андрей Борисович Петров. Кафедра является выпускающей по направлению 09/03/02 «Информационные системы и технологии». Летом 2013 года кафедрой был произведен первый выпуск магистров, а в 2015 году состоятся первый выпуск бакалавров по этому же направлению."
		]
	)
	+main-text(
		[
			"Сотрудники кафедры – высококвалифицированные специалисты, многие из которых являются выпускниками МИРЭА. Ими разработано большое количество учебных и учебно-методических пособий для студентов. Программы дисциплин, которые читаются студентам, регулярно пересматриваются в соответствии с новыми достижениями в области информационных систем и технологий."
		]
	)
	+text-header("Специальности и направления подготовки:")
	+text-list(
		[
			"09.03.02 бакалавры направление 51 «корпоративные информационные системы»",
			"09.04.02 магистры направление 23 «информационные системы государственного и корпоративного управления»",
		], true
	)
	br
	+text-header("Перечень читаемых дисциплин:")
	+text-list(
		[
			"Бакалавриат",
			"Информатика",
			"Объектно-ориентированное программирование",
			"Процедурное программирование",
			"Архитектура корпоративных информационных систем",
			"Операционные системы",
			"Теория информационных процессов и систем",
			"Управление данными",
			"Технология программирования",
			"Автоматизация проектирования ИС",
			"Информационные сети",
			"Моделирование систем",
			"Системный анализ",
			"Технологии визуализации информации",
			"Безопасность функционирования информационных систем",
			"Информационно-поисковые системы",
			"Корпоративные информационные системы",
			"Мировые информационные ресурсы",
			"Основы управления ИТ-проектами",
			"Оценка качества информационных систем",
			"Проектирование ИС",
			"Менеджмент информационных систем",
			"Открытые информационные системы",
			"Программная инженерия",
			"Системы электронного документооборота",
			"Администрирование в информационных системах",
		], false, true
	)
	br
	+text-header("Магистратура")
	+text-list(
		[
			"Архитектура информационных сетей",
			"Информационные системы государственного и муниципального управления",
			"Распределенные информационные системы и информационные ресурсы",
			"Методы поиска оптимальных решений",
			"Открытые информационные системы",
			"Аутсорсинг информационных технологий",
			"Безопасность функционирования информационных систем",
			"Методологии проектирования информационных систем",
			"Системная инженерия",
		], false, true
	)
	br
	+text-header("Аспирантура")
	+text-list(
		[
			"Методология проектирования открытых информационных, вычислительных и телекоммуникационных систем",
		], false, true
	)
